Repository towhee-io/towhee, pull requests merged in 2021-08, with the labels that each got.

#3 Add OWNER file
  .gitignore
  OWNERS
Labels: rules & bots, size/L, do-not-merge/invalid-owners-file

#5 preliminary works on pipeline compiler design
  towhee/compiler/graph_builder.py
  towhee/compiler/intermediate_graph.py
  towhee/compiler/local/compiler.py
  towhee/compiler/operator_decorator.py
  towhee/compiler/operator_metaclass.py
  towhee/compiler/pipeline_decorator.py
  towhee/compiler/utils.py
  towhee/compiler/variable_meta.py
  towhee/engine/pipeline_engine.py
  towhee/operator/base_operator.py
  towhee/variable/variable.py
Labels: type/doc, lgtm, size/L, approved, type/design, component/compiler

#7 Remove opaction from opmetaclass
  towhee/compiler/operator_metaclass.py
Labels: lgtm, approved, type/design, component/compiler, size/M

#9 Add basic files: setup.py, ut example, coverage config
  .coveragerc
  setup.py
  towhee/__init__.py
  towhee/compiler/__init__.py
  towhee/compiler/local/__init__.py
  towhee/compiler/utils/__init__.py
  towhee/engine/__init__.py
  towhee/operator/__init__.py
  towhee/tests/__init__.py
  towhee/tests/test_demo.py
  towhee/variable/__init__.py
Labels: lgtm, size/L, approved, type/internal

#11 The component interface design of DAG representation & construction
  towhee/compiler/graph_builder.py
  towhee/compiler/graph_repr.py
  towhee/compiler/operator_decorator.py
  towhee/compiler/operator_metaclass.py
  towhee/compiler/utils.py
  towhee/compiler/variable_repr.py
  towhee/engine/operator_meta.py
Labels: lgtm, size/L, approved, type/design, component/compiler

#14 Add low-level graph construction interfaces
  towhee/compiler/graph_builder.py
  towhee/compiler/operator_repr.py
  towhee/compiler/variable_repr.py
  towhee/operator/base_operator.py
Labels: lgtm, size/L, approved, type/design, component/compiler

#15 adjust directory structure: rename compiler/ to dag/
  towhee/compiler/local/compiler.py
  towhee/compiler/variable_repr.py
  towhee/dag/__init__.py
  towhee/dag/graph_builder.py
  towhee/dag/graph_repr.py
  towhee/dag/operator_decorator.py
  towhee/dag/operator_metaclass.py
  towhee/dag/operator_repr.py
  towhee/dag/pipeline_decorator.py
  towhee/dag/utils.py
  towhee/dag/utils/__init__.py
  towhee/dag/utils/callstack.py
  towhee/dag/variable_repr.py
  towhee/operator/operator.py
  towhee/variable/__init__.py
  towhee/variable/variable.py
Labels: lgtm, size/L, approved, component/dag, type/internal

#21 Add basic interface of Task, TaskQueue, TaskExecutor
  towhee/engine/task.py
  towhee/engine/task_executor.py
  towhee/engine/task_queue.py
Labels: lgtm, size/L, approved, type/design, component/engine

#28 Add OperatorContext and Subjob
  towhee/dataframe/dataframe.py
  towhee/engine/operator_context.py
  towhee/engine/operator_meta.py
  towhee/engine/subjob.py
  towhee/engine/task.py
  towhee/engine/variable.py
Labels: lgtm, size/L, approved, type/design, component/engine

#30 make OperatorPool as a member of TaskExecutor
  towhee/engine/operator_pool.py
  towhee/engine/task_executor.py
  towhee/engine/task_queue.py
  towhee/operator/operator.py
Labels: lgtm, approved, type/design, component/engine, size/M
