Repository towhee-io/towhee, pull requests merged in 2021-09, with the labels that each got.

#34 Rename Subjob to GraphContext
  towhee/engine/graph_context.py
Labels: lgtm, approved, type/design, component/engine, size/S

#39 Add abstraction of Pipeline
  towhee/engine/operator_context.py
  towhee/engine/pipeline.py
  towhee/engine/runtime_graph.py
Labels: lgtm, size/L, approved, type/design, component/engine

#40 Add stale.yml
  .github/stale.yml
Labels: lgtm, approved, size/S

#43 Add abstraction of engine and scheduler
  towhee/engine/engine.py
  towhee/engine/local_engine.py
  towhee/engine/pipeline.py
  towhee/engine/pipeline_engine.py
  towhee/engine/task_scheduler.py
Labels: lgtm, size/L, approved, type/design, component/engine

#44 engine framework design adjustment
  towhee/engine/engine.py
  towhee/engine/graph_context.py
  towhee/engine/operator_context.py
  towhee/engine/pipeline.py
  towhee/engine/task.py
Labels: lgtm, size/L, approved, type/design, component/engine

#45 TaskExecutor interface adjustment
  towhee/engine/operator_context.py
  towhee/engine/operator_pool.py
  towhee/engine/task_executor.py
Labels: lgtm, approved, type/design, component/engine, size/S

#42 add github workflow yml
  .github/workflows/main.yml
Labels: lgtm, approved, type/internal, size/S

#50 Adjust pylint config
  pylint.conf
Labels: lgtm, approved, type/internal, size/XS

#46 split current wf into two wfs
  .github/workflows/codecov.yml
  .github/workflows/pylint.yml
Labels: lgtm, size/S

#53 modify OWNERS
  OWNERS
Labels: lgtm, approved, type/internal, size/XS

#35 Implement Callstack class at dag/utils/callstack.py
  towhee/dag/utils/callstack.py
  towhee/tests/dag/__init__.py
  towhee/tests/dag/utils/__Init__.py
  towhee/tests/dag/utils/test_callstack.py
Labels: lgtm, size/L, approved, component/util

#51 Format engine code
  towhee/engine/engine.py
  towhee/engine/graph_context.py
  towhee/engine/operator_context.py
  towhee/engine/operator_pool.py
  towhee/engine/pipeline.py
  towhee/engine/task.py
  towhee/engine/task_executor.py
  towhee/engine/task_queue.py
  towhee/engine/task_scheduler.py
Labels: lgtm, size/L, approved, component/engine

#59 format utils
  towhee/dag/utils/callstack.py
  towhee/engine/engine.py
  towhee/tests/test_demo.py
Labels: lgtm, approved, size/M, type/internal

#61 Ignore super init call warning
  pylint.conf
Labels: lgtm, approved, type/internal, size/XS

#63 UT use local cache operator
  towhee/tests/mock_operators/__init__.py
  towhee/tests/mock_operators/add_operator/__init__.py
  towhee/tests/mock_operators/add_operator/add_operator.py
  towhee/tests/operators/test_operator_base.py
Labels: lgtm, approved, size/M, component/operator

#64 Setup
  setup.py
Labels: lgtm, approved, size/XS, component/setup

#66 rename OperatorBase to Operator
  towhee/operator/__init__.py
  towhee/operator/base.py
  towhee/operator/operator.py
  towhee/tests/mock_operators/add_operator/add_operator.py
  towhee/tests/operators/test_operator_base.py
Labels: lgtm, approved, size/M, component/operator

#75 image dataset implementation
  towhee/dataset/image_datasets.py
  towhee/tests/dataset/kaggle_dataset_small/train/000bec180eb18c7604dcecc8fe0dba07.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/001513dfcb2ffafc82cccf4d8bbaba97.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/001cdf01b096e06d78e9e5112d419397.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/00214f311d5d2247d5dfe4fe24b2303d.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/0021f9ceb3235effd7fcde7f7538ed62.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/002211c81b498ef88e1b40b9abf84e1d.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/00290d3e1fdd27226ba27a8ce248ce85.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/002a283a315af96eaea0e28e7163b21b.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/003df8b8a8b05244b1d920bb6cf451f9.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/train_labels.csv
  towhee/tests/dataset/test_dataset.py
Labels: lgtm, size/L, approved, component/image_dataset

#70 format callstack and its unittest
  towhee/dag/utils/callstack.py
  towhee/tests/dag/utils/test_callstack.py
Labels: lgtm, approved, size/M, format

#76 Impl dataframe
  towhee/dataframe/__init__.py
  towhee/dataframe/_iterator.py
  towhee/dataframe/dataframe.py
  towhee/tests/dataframe/test_dataframe.py
Labels: lgtm, size/L, approved, component/dataframe

#77 change coverage cmd
  .github/workflows/codecov.yml
Labels: lgtm, approved, type/internal, size/XS

#81 thread-safe map iterator, op ctx reader
  towhee/dataframe/__init__.py
  towhee/dataframe/dataframe.py
  towhee/dataframe/variable.py
  towhee/engine/_operator_io.py
  towhee/tests/dataframe/dataframe_test_util.py
  towhee/tests/dataframe/test_dataframe.py
  towhee/tests/dataframe/test_operator_io.py
Labels: lgtm, size/L, approved, component/dataframe, component/operator

#79 FIFOTaskScheduler + Scheduler-related implementation
  towhee/engine/engine.py
  towhee/engine/operator_context.py
  towhee/engine/operator_pool.py
  towhee/engine/pipeline.py
  towhee/engine/task.py
  towhee/engine/task_executor.py
  towhee/engine/task_scheduler.py
  towhee/tests/engine/test_task_executor.py
  towhee/tests/engine/test_task_scheduler.py
  towhee/tests/mock_pipelines/__init__.py
  towhee/tests/mock_pipelines/emulated_pipeline.py
Labels: lgtm, size/L, approved

#86 Add training scheduler and scheduler tests
  setup.py
  towhee/tests/trainer/__init__.py
  towhee/tests/trainer/test_scheduler.py
  towhee/trainer/__init__.py
  towhee/trainer/scheduler.py
Labels: lgtm, size/L, approved

#89 workflow use pylint 2.10.2
  .github/workflows/pylint.yml
Labels: lgtm, approved, type/internal, size/XS

#93 add adamw and adafactor optimizer
  towhee/tests/trainer/test_scheduler.py
  towhee/trainer/optimization/__init__.py
  towhee/trainer/optimization/adafactor.py
  towhee/trainer/optimization/adamw.py
Labels: lgtm, size/L, approved

#69 Implement components representations in dag
  setup.py
  towhee/base_repr.py
  towhee/dag/base_repr.py
  towhee/dag/dataframe_repr.py
  towhee/dag/graph_repr.py
  towhee/dag/operator_repr.py
  towhee/dag/variable_repr.py
  towhee/dataframe/dataframe.py
  towhee/engine/engine.py
  towhee/tests/dag/test_base_repr.py
  towhee/tests/dag/test_dataframe.yaml
  towhee/tests/dag/test_dataframe_repr.py
  towhee/tests/dag/test_graph.yaml
  towhee/tests/dag/test_graph_repr.py
  towhee/tests/dag/test_operator.yaml
  towhee/tests/dag/test_operator_repr.py
Labels: lgtm, approved, component/dag, size/XXL

#95 fix image suffix.
  towhee/dataset/image_datasets.py
Labels: lgtm, approved, size/XS, component/image_dataset

#88 cnn operator design.
  towhee/tests/mock_operators/__init__.py
  towhee/tests/mock_operators/pytorch_cnn_operator/__init__.py
  towhee/tests/mock_operators/pytorch_cnn_operator/pytorch_cnn_operator.py
  towhee/tests/operators/test_pytorch_cnn_operator.py
Labels: lgtm, size/L, approved, component/operator

#87 op ctx impl
  towhee/engine/_operator_io.py
  towhee/engine/operator_context.py
  towhee/engine/task.py
  towhee/tests/dataframe/test_dataframe.py
  towhee/tests/dataframe/test_operator_io.py
  towhee/tests/engine/test_operator_context.py
  towhee/tests/engine/test_task.py
  towhee/tests/test_util/__init__.py
  towhee/tests/test_util/dataframe_test_util.py
Labels: lgtm, size/L, approved, component/engine

#99 training args impl and tests.
  towhee/cnn_trainer/__init__.py
  towhee/cnn_trainer/training_args.py
  towhee/cnn_trainer/utils/__init__.py
  towhee/cnn_trainer/utils/logging.py
  towhee/tests/cnn_trainer/__init__.py
  towhee/tests/cnn_trainer/test_args.py
Labels: lgtm, size/L, approved, component/cnn_trainer

#105 callback impl and test.
  setup.py
  towhee/cnn_trainer/trainer_callback.py
  towhee/tests/cnn_trainer/test_callback.py
Labels: lgtm, size/L, approved, component/cnn_trainer

#108 add transformer.py for transformer model
  towhee/tests/trainer/test_transformer.py
  towhee/trainer/models/vit/transformer.py
Labels: lgtm, size/L, approved

#109 call function fix.
  towhee/tests/mock_operators/pytorch_cnn_operator/pytorch_cnn_operator.py
  towhee/tests/operators/test_pytorch_cnn_operator.py
Labels: lgtm, approved, size/S, component/operator

#113 Repr to ctx
  towhee/dag/base_repr.py
  towhee/dag/dataframe_repr.py
  towhee/dag/graph_repr.py
  towhee/dag/operator_repr.py
  towhee/dag/variable_repr.py
  towhee/dataframe/dataframe.py
  towhee/engine/_operator_io.py
  towhee/engine/_repr_to_ctx.py
  towhee/engine/graph_context.py
  towhee/engine/operator_context.py
  towhee/tests/dag/__init__.py
  towhee/tests/dag/test_base_repr.py
  towhee/tests/dag/test_dataframe.yaml
  towhee/tests/dag/test_dataframe_repr.py
  towhee/tests/dag/test_graph.yaml
  towhee/tests/dag/test_graph_repr.py
  towhee/tests/dag/test_operator.yaml
  towhee/tests/dag/test_operator_repr.py
  towhee/tests/dag/test_repr.py
  towhee/tests/engine/test_engine.py
  towhee/tests/engine/test_operator_context.py
  towhee/tests/engine/test_repr_to_ctxs.py
  towhee/tests/test_util/__init__.py
  towhee/tests/test_util/simple_pipeline.yaml
  towhee/tests/test_util/test_graph.yaml
Labels: lgtm, approved, component/engine, size/XXL

#111 ViT model and pretrained util
  towhee/tests/models/__init__.py
  towhee/tests/models/vit/img.jpg
  towhee/tests/models/vit/labels_map.txt
  towhee/tests/models/vit/test_vision_transformer.py
  towhee/trainer/models/vit/vit.py
  towhee/trainer/models/vit/vit_training_utils.py
Labels: lgtm, size/L, approved

#120 add pytorch vision transformer operator
  setup.py
  towhee/tests/mock_operators/__init__.py
  towhee/tests/mock_operators/pytorch_transformer_operator/__init__.py
  towhee/tests/mock_operators/pytorch_transformer_operator/pytorch_transformer_operator.py
  towhee/tests/operators/test_pytorch_transformer_operator.py
Labels: lgtm, size/L, approved

#117 Refactor `Pipeline`, `GraphContext`, `OperatorContext`
  towhee/dag/__init__.py
  towhee/dag/graph_repr.py
  towhee/dag/operator_repr.py
  towhee/dataframe/dataframe.py
  towhee/engine/_operator_io.py
  towhee/engine/_repr_to_ctx.py
  towhee/engine/graph_context.py
  towhee/engine/operator_context.py
  towhee/engine/pipeline.py
  towhee/engine/task.py
  towhee/engine/task_scheduler.py
  towhee/tests/engine/test_engine.py
  towhee/tests/engine/test_operator_context.py
  towhee/tests/engine/test_repr_to_ctxs.py
  towhee/tests/mock_pipelines/emulated_pipeline.py
Labels: lgtm, approved, component/pipeline, size/XL

#112 cnn trainer impl and test.
  towhee/cnn_trainer/cnn_trainer.py
  towhee/cnn_trainer/trainer_utils.py
  towhee/dataset/image_datasets.py
  towhee/tests/cnn_trainer/test_cnn_trainer.py
  towhee/tests/dataset/kaggle_dataset_small/train/0e892d4c591e021c3aed7e076255a99a.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/1cef8fb87d5ca2b8a833b5f9549634aa.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/9d3c1cfde38e640d55a0398b526432c5.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/part-00132-3104.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/part-00738-1883.jpg
  towhee/tests/dataset/kaggle_dataset_small/train/train_labels.csv
Labels: lgtm, approved, size/XL, component/cnn_trainer

#129 Add `HandlerMixin`
  towhee/tests/utils/__init__.py
  towhee/tests/utils/test_handler_mixin.py
  towhee/utils/__init__.py
  towhee/utils/handler_mixin.py
Labels: lgtm, size/L, approved, component/util

#133 add pytorch transform operator
  towhee/tests/mock_operators/__init__.py
  towhee/tests/mock_operators/pytorch_transform_operator/__init__.py
  towhee/tests/mock_operators/pytorch_transform_operator/pytorch_transform_operator.py
  towhee/tests/operators/test_pytorch_transform_operator.py
Labels: lgtm, size/L, approved

#135 Change `dataframes` and `operators` to Dict
  towhee/dag/graph_repr.py
  towhee/tests/dag/test_repr.py
Labels: lgtm, size/L, approved, component/dag

#136 Fix `DataFrameRepr` naming
  towhee/dag/__init__.py
  towhee/dag/dataframe_repr.py
  towhee/dag/graph_repr.py
  towhee/dag/operator_repr.py
  towhee/tests/engine/test_engine.py
Labels: lgtm, approved, size/M

#137 Refactor Engine
  towhee/dag/graph_repr.py
  towhee/dataframe/dataframe.py
  towhee/engine/_operator_io.py
  towhee/engine/engine.py
  towhee/engine/graph_context.py
  towhee/engine/operator_context.py
  towhee/engine/pipeline.py
  towhee/engine/task_scheduler.py
  towhee/tests/dag/test_repr.py
  towhee/tests/engine/test_engine.py
  towhee/tests/engine/test_operator_context.py
  towhee/tests/engine/test_task_scheduler.py
  towhee/tests/test_util/simple_pipeline.yaml
Labels: lgtm, size/L, approved, component/engine

#134 CNN operator with transform initialization.
  towhee/tests/operators/test_pytorch_cnn_operator.py
Labels: lgtm, approved, size/S, component/operator

#116 Using `resnet50` to compute embeddings
  setup.py
  towhee/dataframe/dataframe.py
  towhee/engine/__init__.py
  towhee/engine/operator_loader.py
  towhee/engine/task_executor.py
  towhee/tests/engine/test_pipeline.py
  towhee/tests/engine/test_task_scheduler.py
  towhee/tests/mock_operators/__init__.py
  towhee/tests/mock_operators/pytorch_cnn_operator/pytorch_cnn_operator.py
  towhee/tests/operators/test_pytorch_cnn_operator.py
  towhee/tests/test_util/resnet50_embedding.yaml
  towhee/tests/test_util/simple_pipeline.yaml
Labels: lgtm, size/L, approved, component/pipeline

#143 Hello world pipeline
  towhee/__init__.py
  towhee/dataframe/dataframe.py
  towhee/engine/__init__.py
  towhee/engine/_operator_io.py
  towhee/engine/engine.py
  towhee/engine/operator_loader.py
  towhee/engine/pipeline.py
  towhee/engine/task.py
  towhee/engine/task_executor.py
  towhee/tests/engine/test_engine.py
  towhee/tests/engine/test_pipeline.py
  towhee/tests/operators/test_pytorch_transformer_operator.py
Labels: lgtm, size/L, approved, component/engine

#144 create cache when install
  setup.py
  towhee/__init__.py
  towhee/engine/__init__.py
  towhee/engine/operator_loader.py
  towhee/engine/task_executor.py
  towhee/tests/engine/test_pipeline.py
Labels: lgtm, approved, component/engine, size/M

#146 Added README and logo
  README.md
  docs/towhee_logo.png
Labels: lgtm, approved, size/M

#148 Change author and email in setup.py
  setup.py
Labels: lgtm, approved, size/XS

#149 fix typo in README
  README.md
Labels: lgtm, approved, size/XS

#150 Added install command to README
  README.md
Labels: lgtm, approved, size/S

#152 Change version in setup
  setup.py
Labels: lgtm, approved, size/XS

#155 Update Towhee version in setup
  setup.py
Labels: lgtm, approved, size/XS

#156 Allow Towhee to run natively on Ubuntu 18.04
  README.md
  setup.py
Labels: lgtm, approved, size/S

#158 Downgrade some requirements
  README.md
  setup.py
Labels: lgtm, approved, size/S

#160 Add issue template
  .github/ISSUE_TEMPLATE.md
Labels: lgtm, approved, size/M
